@model PoliticImpact.Models.CaseItem

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Owner)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Owner)
    @Html.ValidationMessageFor(model => model.Owner)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Text)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Text)
    @Html.ValidationMessageFor(model => model.Text)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Published)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Published)
    @Html.ValidationMessageFor(model => model.Published)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Created)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Created)
    @Html.ValidationMessageFor(model => model.Created)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.LastEdited)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.LastEdited)
    @Html.ValidationMessageFor(model => model.LastEdited)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.imageId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.imageId)
    @Html.ValidationMessageFor(model => model.imageId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.imageName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.imageName)
    @Html.ValidationMessageFor(model => model.imageName)
</div>

