@model PoliticImpact.Models.CaseItem

@{
    ViewBag.Title = "Create Case";
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <!--<legend>CaseModel</legend>-->

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Owner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Owner)
            @Html.ValidationMessageFor(model => model.Owner)
        </div>
        -->

        <div class="editor-field" style="padding-bottom: 14px; padding-top: 14px">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "Name of the case" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        
        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextAreaFor(model => model.Text,  new { placeholder = "Description" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Published)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </div>
        -->

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Created)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created)
            @Html.ValidationMessageFor(model => model.Created)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastEdited)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastEdited)
            @Html.ValidationMessageFor(model => model.LastEdited)
        </div>
        -->

        
        <div class="editor-field" style="padding-bottom: 14px;">
            @Html.TextBoxFor(model => model.Deadline, new { placeholder = "Deadline xx-xx-xx, 00:00" })
            @Html.ValidationMessageFor(model => model.Deadline)
        </div>

        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


