@model PoliticImpact1.Models.CaseModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNoPageDiv.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>CaseModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastEdited)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEdited)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
